APScheduler==3.11.0
beautifulsoup4==4.12.3
blinker==1.9.0
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
dnspython==2.7.0
Flask==3.1.0
frozendict==2.4.6
gunicorn==23.0.0
html5lib==1.1
idna==3.10
investpy==1.0.8
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
lxml==5.3.0
MarkupSafe==3.0.2
MetaTrader5==5.0.4682
multitasking==0.0.11
numpy==2.1.3
packaging==24.2
pandas==2.2.3
peewee==3.17.8
platformdirs==4.3.6
pymongo==4.10.1
python-dateutil==2.9.0.post0
pytz==2024.2
requests==2.32.3
scikit-learn==1.6.0
scipy==1.14.1
setuptools==75.6.0
six==1.17.0
soupsieve==2.6
ta-lib @ file:///C:/Users/Visha/Downloads/ta_lib-0.5.1-cp312-cp312-win_amd64.whl#sha256=a691eda5ce91c0436742c366ad578dd9936e71fd0ee411d56979a3ad696e20c3
threadpoolctl==3.5.0
tvdatafeed @ git+https://github.com/rongardF/tvdatafeed.git@e6f6aaa7de439ac6e454d9b26d2760ded8dc4923
tzdata==2024.2
tzlocal==5.2
Unidecode==1.3.8
urllib3==2.2.3
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.1.3
whitenoise==6.8.2
yfinance==0.2.50
